@import "tailwindcss";

:root {
  --background: #111827;
  --foreground:  #712cdf;
}

::-webkit-scrollbar{
  background-color: transparent;
  border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.551);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 0.850);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}

.bg-product{
  background-color: #CAD8DE;
}
