@import "tailwindcss";

:root {
  --background: #111827;
  --foreground:  #712cdf;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}

.bg-product{
  background-color: #CAD8DE;
}
